html,
body {
  margin: 0;
  padding: 0;
}

/* App.css */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  /* Full height layout */
}

/* Header */
.ant-layout-header {
  background-color: #ccd5ae; /* Background color */
  color: #9b7754; /* Text color */
  font-size: 30px; /* Font size */
  font-weight: bold;
  padding: 10px 15px 5px; /* Padding */
  height: 2.5em;
}

/* Footer */
.ant-layout-footer {
  background-color: #ccd5ae; /* Background color */
  color: #d4a373; /* Text color */
  font-size: 14px; /* Font size */
  padding: 10px 20px; /* Padding */
}

/* Copyright text */
.ant-layout-footer::after {
  content: "© 2024 Mariia Yemelianova. All rights reserved."; /* Copyright text */
  display: block; /* Display as block element */
  margin-top: 10px; /* Top margin */
}

.main {
  /* Set the main content area */
  min-height: 30em;
}

.ant-layout .ant-layout-sider.ant-layout-sider-dark {
  background-color: #d4a373 !important;
}

/* Sidebar */
.ant-layout-sider {
  background-color: #001529; /* Background color */
  color: #ffffff; /* Text color */
  font-size: 16px; /* Font size */
  padding: 20px; /* Padding */
}

/* Sidebar heading */
.sidebar h3 {
  color: #ffffff; /* Heading text color */
  font-size: 18px; /* Heading font size */
  margin-bottom: 15px; /* Bottom margin */
}

/* List items */
.list-of-lists li {
  list-style-type: none; /* Remove bullet points */
  margin-bottom: 10px; /* Bottom margin */
}

/* List item hover effect */
.list-of-lists li:hover {
  cursor: pointer; /* Change cursor to pointer on hover */
  color: #ffffff; /* Change text color on hover */
}

.content {
  flex: 1;
  background-color: #ccd5ae;
}

/* Content */
.ant-layout-content {
  flex: 1;
  background-color: #d5d6d1; /* Background color */
  color: #333333; /* Text color */
  font-size: 16px; /* Font size */
  padding: 20px; /* Padding */
}

/* Heading styles */
.content h2 {
  color: #333333; /* Heading text color */
  font-size: 24px; /* Heading font size */
  margin-bottom: 20px; /* Bottom margin */
}

/* List styles */
.content ul {
  margin-bottom: 20px; /* Bottom margin */
}

/* List item styles */
.content li {
  list-style-type: disc; /* Bullet point style */
  margin-bottom: 5px; /* Bottom margin */
}

/* ItemAdd form styles */
.item-add form {
  margin-bottom: 20px; /* Bottom margin */
}

/* Input field styles */
.item-add .input {
  width: 100%; /* Full width */
  padding: 10px; /* Padding */
  font-size: 16px; /* Font size */
}

/* Button styles */
.item-add .button {
  background-color: #006de2; /* Button background color */
  color: #ffffff; /* Button text color */
  padding: 10px 20px; /* Padding */
  font-size: 16px; /* Font size */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer */
}

/* Button hover effect */
.item-add .button:hover {
  background-color: #004d96; /* Change background color on hover */
}

/* Button active effect */
.item-add .button:active {
  background-color: #003261; /* Change background color on hover */
}
